<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-3">
      <h3>Ver actividades</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Descripción</th>
            <th scope="col">Tiempos</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="listaActividades && listaActividades.length > 0;">
            <ng-container *ngFor="let actividad of listaActividades">
              <tr>
                <td>{{actividad.descripcion}}</td>
                <td *ngIf="actividad.tiempos">
                  <ul *ngFor="let tiempo of actividad.tiempos">
                    <li>{{tiempo.fecha}} - {{ tiempo.tiempo }} horas</li>
                  </ul>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
